{{define "base"}}
<!DOCTYPE html>
<html lang="ru">
{{block "head" .}}
{{end}}
    <body>
    {{block "header" .}}
    {{end}}
    {{block "herosection" .}}
    {{end}}
    {{block "content" .}}
    {{end}}
    {{block "footer" .}}
    {{end}}
</html>
{{end}}
